@import "../../../../node_modules/rupture/rupture/"

rupture.mobile-cutoff = 767px
rupture.desktop-cutoff = 991px
rupture.hd-cutoff = 1500px

desktop()
    +between(991px, 1199px)
        {block}

phablet()
    +between(575px, 767px)
        {block}

phone()
    +below(575px)
        {block}
