@import "../section/section.styl"
.switcher
	position: relative
	display: inline-block
	width: 51px
	height: 31px
	padding 0 30px
	input
		opacity: 0;
		width: 0;
		height: 0;
		
	&__toggle
		display: block
		border-radius: 34px
		position: absolute;
		cursor: pointer;
		top: 0;
		width: 51px;
		height inherit
		left: 50%;
		transform: translateX(-50%);
		background-color: #C7A48D;
		transition: .4s;
		&:before
			position: absolute;
			display: block
			border-radius: 50%
			content: "";
			height: 27px;
			width: 27px;
			left: 2px;
			bottom: 2px;
			background-color: white;
			transition: .4s;
			box-shadow 0 1px 1px 1px rgba(0, 0, 0, 0.2), inset 0 0 0 1px #E5E5E5
	&.height
		&:before,
		&:after
			position: absolute
			top: 50%
			transform translateY(-50%)
			font-size: 12px
			line-height 16px
			letter-spacing 3px
			text-transform uppercase
			color $asphalt

		&:before
			left 0
			content: 'cm'
		&:after
			right 0
			content 'in'
	&.weight
		&:before,
		&:after
			position: absolute
			top: 50%
			transform translateY(-50%)
			font-size: 12px
			line-height 16px
			letter-spacing 3px
			text-transform uppercase
			color $asphalt
		&:before
			left 0
			content: 'кг'
		&:after
			right -10px
			content 'lbs'


input:checked + .switcher__toggle
	background-color: #C7A48D


input:focus + .switcher__toggle
	box-shadow: 0 0 1px #2196F3


input:checked + .switcher__toggle:before
	transform: translateX(20px)
	