mixin logo(type)
	+b(type).logo&attributes(attributes)
		include ../../static/img/svg/Logo.svg
		//- != pugHelpers.Icon.call(locals, {iconName: 'Logo', className: 'logo', iconWidth: '124', iconHeight: '20'})

