// GUI stylies of the project
// For example, styles of the links, buttons and so on.


//placeholder styles

+placeholder()
	text-align: center
	font-size: 14px
	font-weight: normal
	line-height: 19px
	color #7F8288
	.form-want &
		color: #59585D
	.form-switcher &
		text-align left
		color: #59585D
		font-size 12px
		line-height 12px
		text-transform uppercase
		letter-spacing 2px


//scrollbar styles
//
///* width */
//::-webkit-scrollbar
//	width: 5px
//
///* Track */
//::-webkit-scrollbar-track
//	background: #000
//
///* Handle */
//::-webkit-scrollbar-thumb
//	transition background .3s linear
//	background: #666
//
///* Handle on hover */
//::-webkit-scrollbar-thumb:hover
//	background: #666 - 20%
