// File for less-vars.
// For example: main colors, paddings and so on.
$colorText = #59585D
$colorBg = white

$white = #fff

$gray_white = #F1F1F1
$gray_frame = #E0E0E0
$gray_separator = #BBBBBB
$gray_cloth = #B6B6B6
$gray_socials = #B8B8B8
$gray_arrow = #BDBDBD

$size_yes = #C7A48D
$size_no = #B37571

$pink = #D5A48C
$brown = #C6A28F
$green = #8A9774
$golden = #EACDB2
$beige = #FCFAF6
$beige_icon = #F1EFE7
$asphalt = #828282
$form = #7F8288

$checkbox_fill = rgba(234, 205, 178, 0.5)