@import "../btn/btn"
.card-add
	padding-y(9px)
	padding-x(20px)
	display: flex
	justify-content: space-between
	*
		font-size: 11px
		line-height: 15px
		text-transform: uppercase
		letter-spacing 3px
	&__btn
		@extend .btn_brown
		display: flex
		justify-content: center
		align-items: center
		padding 9px
		
	&_fixed
		position: fixed
		bottom 0
		background-color white
		opacity .95
		margin 0 auto
		width 100%
		max-width 100%
		