@import "../section/section.styl"
.form-want
	background-color: #fff
	padding 36px
	text-align: center
	width 455px
	
	p
		margin: 0
	.container_form
		width 240px
		max-width 100%
		margin 0 auto
	h2
		@extend .section__text_normal
		text-transform: uppercase
		line-height: 30px
		letter-spacing: 3px
		padding-bottom: 10px
	.section__text_normal
		color $asphalt
		padding-bottom: 30px
	.btn
		margin-bottom: 40px
	span
		font-size: 10px
		line-height: 14px
		color $asphalt
		