.form-search
	background transparent
	transition all .3s ease-out
	z-index 10
	&:hover
		cursor: pointer

	&_absolute
		position absolute
		top 0
		right 0
		height 100%
		width 32px
		//overflow hidden
		+below(768px)
			right: 0

	&_open
		border-radius 15px
		width 100%
		background: #fff;
		transition all .3s ease-out
		
	&__data
		padding 0 40px 0 10px
		display none
		width 100%
		height 100%
		overflow hidden
		transition width .3s ease-out

		~/_open &
			display block

	&__btn
		position absolute
		top: 0;
		right: 0
		display: block;
		font-size: 26px;
		.footer__subinfo &
			padding-right 50px
			&:after
				content 'поиск'
				position: absolute
				right: 5px
				top: 0
				display: inline-block
				color #7F8288
				font-size: 14px
				line-height: 19px
				
		~/_open &
			padding-right 0
			&:after
				display: none
			
		//~/_open &
		//	color

		//&:hover
		//	color

		+below(420px)
			right: 0